 @font-face{
    								font-family:"Emblema One";
    								src:url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),
    								url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");}
body{
				font-family:Verdana,Geneva,Arial,sans-serif;
				font-size:small;
}
h1{
    								font-family:"Emblema One",sans-serif;
    								font-size:220%;
    				}
    				h2{
    								font-family:"Emblema One",sans-serif;
    								font-size:130%;
    								font-weight:normal;
    				}
