body{
				font-size:small;
				font-family:Verdana,Helvetica,Arial,sans-serif;
				line-height:1.6em;
}
h1,h2{
				color:#007e7e;
}
h1{
				font-size:150%;
}
h2{
				font-size:130%;
}
p.important{
				font-family:serif;
				font-style:italic;
				background-color:#6b8e23;
				padding-left:100px;
}
#guarantee{
				border-color:black;
				border-width:1px;
				border-style:solid;
				background-color:#a7cece;
				padding:25px;
				margin:30px;
				font-color:#444444;
				line-height:1.9em;
				font-style:italic;
				font-family:Georgia,Times New Roman,Times,serif;
				background-image:url(images/background.gif);
				background-repeat: no-repeat;
				background-position: top left ;
				padding-left: 80px;
				margin-right: 250px;
				border-style:dashed;
				border-color:white;
				border-radius: 40px;
}
